Repository Liberty52/Liberty52-BE, changes with the labels that .github/labeler.yml gives for each.
All labels: 0Ô∏è‚É£ Root Module, 1Ô∏è‚É£ Liberty52 Main Service, 2Ô∏è‚É£ Liberty52 Auth Service, 3Ô∏è‚É£ Liberty52 Authentication Library, 4Ô∏è‚É£ Liberty52 Common, ü§ñ Automation

refactor(#506): Extract Feign exception class to common module (#507)
  liberty52-auth-service/src/main/java/com/liberty52/auth/global/adapter/cloud/error/Feign5xxException.java
  liberty52-auth-service/src/main/java/com/liberty52/auth/global/adapter/cloud/error/FeignClientErrorDecoder.java
  liberty52-auth-service/src/main/java/com/liberty52/auth/global/adapter/cloud/error/FeignClientException.java
  liberty52-auth-service/src/main/java/com/liberty52/auth/global/adapter/cloud/error/FeignUnauthorizedException.java
  liberty52-common/src/main/java/com/liberty52/common/feign/error/Feign4xxException.java
  liberty52-common/src/main/java/com/liberty52/common/feign/error/Feign5xxException.java
  liberty52-common/src/main/java/com/liberty52/common/feign/error/FeignClientException.java
  liberty52-common/src/main/java/com/liberty52/common/feign/error/FeignErrorCode.java
  liberty52-common/src/main/java/com/liberty52/common/feign/error/FeignRestExceptionHandler.java
  liberty52-common/src/main/java/com/liberty52/common/feign/error/FeignUnauthorizedException.java
  liberty52-main-service/src/main/java/com/liberty52/main/global/adapter/cloud/error/Feign4xxException.java
  liberty52-main-service/src/main/java/com/liberty52/main/global/adapter/cloud/error/FeignClientErrorDecoder.java
  liberty52-main-service/src/main/java/com/liberty52/main/global/adapter/cloud/error/FeignErrorCode.java
  liberty52-main-service/src/main/java/com/liberty52/main/global/adapter/cloud/error/FeignRestExceptionHandler.java
Labels: 1Ô∏è‚É£ Liberty52 Main Service, 2Ô∏è‚É£ Liberty52 Auth Service, 4Ô∏è‚É£ Liberty52 Common

refactor(#510): Refactor GitHub Actions configuration to reflect the updated project structure and paths.
  .github/workflows/liberty-auth-service-cd.yaml
  .github/workflows/liberty-main-service-cd.yml
Labels: ü§ñ Automation

refactor(#510): Refactor GitHub Actions configuration to reflect the updated project structure and paths. (#511)
  .github/workflows/liberty-auth-service-cd.yaml
  .github/workflows/liberty-main-service-cd.yml
Labels: ü§ñ Automation

chore(#512): Change the root project name from 'product' to 'Liberty52-BE' to reflect the project's updated naming convention.
  settings.gradle
Labels: none

chore(#512): Change the root project name from 'product' to 'Liberty52-BE' to reflect the project's updated naming convention. (#513)
  settings.gradle
Labels: none

.github/labeler.yml:

0Ô∏è‚É£ Root Module:
  - 'build.gradle'
  - 'setting.gradle'
1Ô∏è‚É£ Liberty52 Main Service:
  - 'liberty52-main-service/**'
  - 'liberty52-authentication-library/**'
  - 'build.gradle'
  - 'liberty52-common/**'
2Ô∏è‚É£ Liberty52 Auth Service:
  - 'liberty52-auth-service/**'
  - 'build.gradle'
  - 'liberty52-common/**'
3Ô∏è‚É£ Liberty52 Authentication Library:
  - 'liberty52-authentication-library/**'
  - 'build.gradle'
4Ô∏è‚É£ Liberty52 Common:
  - 'liberty52-common/**'
ü§ñ Automation:
  - '.github/workflows/**'
